name: Deploy Docs

on:
  push:
    tags:
      - 'docs-*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - run: pip install mkdocs mkdocs-material mike
      - run: mike deploy ${GITHUB_REF_NAME#docs-} latest --push
